<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stephentse.asteroids" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/triangle_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".AsteroidsApplication">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
            android:name=".TutorialActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
            android:name=".OptionsActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bd9efcc36febeb7c3de704af1e9e001dea11c20b" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
